.layout-demo-container{
  .antui-layout-header{
    background: red;
  }
  .antui-layout-content{
    background: #333;
  }
  .antui-layout-footer{
    background: blue;
  }

  .inside-layout{
    padding: 1em;
    .antui-layout-header{
      background: tint(red);
    }
    .antui-layout-content{
      background: tint(#333);
    }
    .antui-layout-footer{
      background: tint(blue);
    }
  }
}